workflows2025/02/VDE9QHERxvALSG0o.json
{
  "active": true,
  "connections": {
    "Summarize Email": {
      "main": [
        [
          {
            "node": "Store in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Summarize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Notion": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-17T00:59:30.323Z",
  "id": "VDE9QHERxvALSG0o",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Work email summary",
  "nodes": [
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=You are an AI assistant that summarizes emails in 150 words or fewer. Provide a clear, concise summary of the email’s subject and key points."
            },
            {
              "content": "=Here is an email to summarize: \nFrom: {{ $json.From }}\nSubject: {{ $json.Subject }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "name": "Summarize Email",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -700,
        260
      ],
      "id": "2344b076-5dc1-44ae-81f6-68e1c2a8b36c",
      "credentials": {
        "openAiApi": {
          "id": "44b1cW1O3XzSV61k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "19d0ac8a-246e-80a4-a1db-c143372a6a80",
          "mode": "list",
          "cachedResultName": "Email Summary",
          "cachedResultUrl": "https://www.notion.so/19d0ac8a246e80a4a1dbc143372a6a80"
        },
        "title": "={{ $('Gmail Trigger').item.json.snippet }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "From|email",
              "emailValue": "={{ $('Gmail Trigger').item.json.From }}"
            },
            {
              "key": "Subject|title",
              "title": "={{ $json.message.content }}"
            },
            {
              "key": "Date Received|date",
              "date": "={{ $('Gmail Trigger').item.json.internalDate.toDateTime('ms') }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Store in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -360,
        280
      ],
      "id": "6ac850a6-4e55-4354-b345-27df568bb63a",
      "credentials": {
        "notionApi": {
          "id": "oRQxYSlpabxhQwxN",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX",
            "IMPORTANT",
            "UNREAD"
          ],
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        300
      ],
      "id": "31170b7a-dc79-4f54-ad6c-4abaa2866eb8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DK2xCg3Gj60s30mw",
          "name": "thanhlm@bravebits.vn"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -40,
        260
      ],
      "id": "04782332-f04a-476f-af5d-ea7f842d5314",
      "name": "Gmail1",
      "webhookId": "6c6730cb-10be-4c9f-83a7-de6284a222cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "DK2xCg3Gj60s30mw",
          "name": "thanhlm@bravebits.vn"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "lmtNoLimit",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1740570952,
        "possibleDuplicates": [
          "195421d4688398ee"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-17T10:14:52.000Z",
  "versionId": "d617bbb4-2936-4c97-b694-4ad50fdde7db"
}