workflows2025/02/w1jQnym5CThRMkOC.json
{
  "active": false,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-21T11:02:44.404Z",
  "id": "w1jQnym5CThRMkOC",
  "meta": {
    "templateId": "2114"
  },
  "name": "Chat with OpenAIs GPT via a simple Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0b4eb8e4-e98b-4f67-b134-914a5aa46b4d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "9c8b833c-7aa7-430d-8fc0-47936f695ddf",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "C86A2WG3FGOuyXv0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "339246f2-76cb-44c4-8828-da0cb5d3ad5e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        380,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "44b1cW1O3XzSV61k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Respond to this as a helpful assistant with emojis:  {{ $json.message.text }}",
        "options": {}
      },
      "id": "70a981e2-7833-473b-a27a-fedf860901cb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        620,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fb6ff65b-56b4-44c4-978a-b9a5c3d535d6",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        980,
        240
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "C86A2WG3FGOuyXv0",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "lmtNoLimit",
  "repo_path": "workflows",
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-26T04:53:25.000Z",
  "versionId": "da9bb61d-d582-48ff-8726-a74e1892b06f"
}