workflows2025/01/6ut2UhqgdTI8qgLo.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Telegram Response Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Response Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get receipts from bot": {
      "main": [
        [
          {
            "node": "Mindee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mindee": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-26T05:27:51.655Z",
  "id": "6ut2UhqgdTI8qgLo",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Expense Tracking",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-kDPZ1gGIZXxX9LZOgVOHpIf59-eUVzZTwHtmJgrp7I",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date.toDateTime() }}",
            "Merchant": "={{ $json.supplier }}",
            "Category": "={{ $json.category }}/{{ $json.subcategory }}",
            "Amount": "={{ $json.total_amount }}",
            "Currency": "={{ $json.currency }}"
          },
          "matchingColumns": [
            "Message"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Merchant",
              "displayName": "Merchant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Added by",
              "displayName": "Added by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        260
      ],
      "id": "7fcdc4db-b391-42c3-8c4d-92ea4118ef81",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GuakNjBYbB8T74Nb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "881302e9-9a02-47ce-a02d-d61052975612",
              "leftValue": "={{ $json.category }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bdac3135-dce4-4c4e-8aee-57d49e1109bd",
              "leftValue": "={{ $json.total_amount }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -500,
        80
      ],
      "id": "e05fccf2-89b4-42c9-b4b2-6a0117d5acf0",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "5812038591",
        "text": "Thông tin đã được update vào spreadsheet",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1113049b-a07b-47ff-9f18-716d0091495c",
      "name": "Telegram Response Success",
      "credentials": {
        "telegramApi": {
          "id": "C86A2WG3FGOuyXv0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5812038591",
        "text": "Thông tin đầu vào không hợp lệ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        20,
        540
      ],
      "id": "6a336088-ec7e-471a-b5d1-fd77a809358a",
      "name": "Telegram Response Invalid",
      "credentials": {
        "telegramApi": {
          "id": "C86A2WG3FGOuyXv0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.mindee",
      "typeVersion": 3,
      "position": [
        -780,
        220
      ],
      "id": "6840a5fe-c02d-4456-bdd0-d6e426dd64b0",
      "name": "Mindee",
      "credentials": {
        "mindeeReceiptApi": {
          "id": "t2IF4aksM4vwgeSu",
          "name": "Mindee Receipt account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1060,
        160
      ],
      "id": "6b9c95dc-9471-41c9-a632-09ba85f67dc1",
      "name": "Get receipts from bot",
      "webhookId": "45a3660a-8eeb-438c-b182-158dcf8a86c3",
      "credentials": {
        "telegramApi": {
          "id": "C86A2WG3FGOuyXv0",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "lmtNoLimit",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-28T10:20:23.000Z",
  "versionId": "93e4eea6-445c-482d-a8e9-e124a3185dec"
}